<div class="card text-bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">ALL Product</div>
    <div class="card-body">
    @{
        foreach (Product product in ViewBag.AllProducts)
        {
            <h5 class="card-title">@product.Name</h5>
        }
    }
    </div>
</div>