<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Index</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/Projects">Projects</a>
        <span> | </span>
        <a href="/Contact">Contact</ay>
    </nav>
    <div>
        <h1>About Me</h1>
    </div>
    <div class="joy">
        <div>
            <img src="~/images/arry-s.jpg" alt="">
            <h3>I love to code </h3>
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="10">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus sequi optio dolore aliquam eum earum aliquid hic saepe quod cupiditate.
                Consequatur magni dolor alias sed repellendus voluptate nisi, nostrum aut!
            </textarea>
        </div>
    </div>


</body>

</html>