<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        first Template from flask server 👌
    </h1>
    <h2>
        user Name : {{user}}<br>
        user age : {{number}}
    </h2>
    <hr>
    {% for user in users %}
    <p>{{user['Name']}} --- {{user['age']}}</p>
    {% endfor %}
    <hr>
    {%for i i n range (5) %}
        <h4>{{li}}</h4>   
        {% endfor %}
</body>
</html>