*{
    padding: 0;
    margin: 0;

}
.container1{
    background-color: rgb(139, 134, 134);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    
}
.container1 button{
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.container1 input{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 200px;
    outline: none;
    font-size: 16px;
}
.container1 h1{
    font-size: 28px;
    color: #1e2a32;
    text-align: center;
}
.ninja{
    display: flex;
    height: 200px;
    width: 480px;
    border: 3px black solid;
    margin-top: 30px;
    margin-left: 200px;
}
.nin{
    margin: 20px;
}
.pro{
    margin-top: 55px;
    margin-left: 20px;
}
.nin > *{
    margin: 10px;
}
.nin> button {
    background-color: yellow;
}
.rightnav{
    border: 3px black solid;
    height: 200px;
    width: 300px;
    margin: 50px;
    padding: 20px;
}
.butt{
    background-color: rgb(113, 202, 113);
    margin-top: 60px;
    margin-left: 45px;
    width: 200px;
    height: 50px;
}
.container{
    display: flex;
    margin-left: 90px;
}
.nin button{
    background-color: #94af26;
    color: #fff;
    border: none;
    padding: 5% 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.rightnav button{ 
    background-color: #157030;
    color: #fff;
    border: none;
    padding: 5% 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}